{% extends 'user.html' %}

{% block title %}Student{% endblock %}

{% block content %}
<div class="is-flex is-flex-direction-row is-justify-content-space-between">
    <h1 class="title">Your Application</h1>
    {% if application |length > 0 %}
    <a class="button is-info" disabled>Create Application</a>
    {% else %}
    <a class="button is-info" href="{{ url_for('student_page.application') }} ">Create Application</a>
    {% endif %}
</div>
<hr>

{% if application |length > 0 %}
<div class="section">
    <div class="card">
        <header class="card-header">
            <p class="card-header-title">
                {{ application['fname']}} {{ application['lname'] }} Application
            </p>
        </header>
        <div class="card-content">
            <div class="is-flex is-flex-direction-row is-justify-content-space-between">
                <div>
                    <strong>Major</strong>
                    <p>{{ application['major'] }}</p>
                </div>
                <div>
                    <strong>GPA</strong>
                    <p>{{ application['gpa'] }}</p>
                </div>
                <div>
                    <strong>Email</strong>
                    <p><a href="mailto:{{ application['email'] }}">{{ application['email'] }}</a></p>
                </div>
                <div>
                    <strong>Resume</strong>
                    <p><a href="{{ url_for('static', filename='resumes/' + application['resume'])}}" download> {{
                            application['resume'] }}</a></p>
                </div>
            </div>
        </div>
        <div class="popup">
            <button class="button has-text-centered" aria-haspopup="true" aria-controls="dropdown-menu"
                style="min-width: 100%;">
                <span class="popup-text">Show More</span>
                <span class="icon is-small">
                    <i class="popup-icon fas fa-angle-down" aria-hidden="true"></i>
                </span>
            </button>
            <div class="popup-menu">
                <div class="card-content">
                    <div class="is-flex is-flex-direction-row is-justify-content-space-between">
                        <div>
                            <strong>1st Choice</strong>
                            <p>{{ application['firstPick'] }}</p>
                        </div>
                        <div>
                            <strong>2nd Choice</strong>
                            <p>{{ application['secondPick'] }}</p>
                        </div>
                        <div>
                            <strong>3rd Choice</strong>
                            <p>{{ application['thirdPick'] }}</p>
                        </div>
                    </div>
                    <div>
                        <strong>Skills</strong>
                        <div class="is-flex is-flex-direction-row is-justify-content-space-between">
                            {% for skill in application['skills'] %}
                            <p>{{ skill }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div>
                        <strong>Essay</strong>
                        <div style="white-space: pre-line;">
                            {{ application['essay'].decode() }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

<div class="is-flex is-flex-direction-row is-justify-content-space-between">
    <h1 class="title">PLA Job Postings</h1>
</div>
<hr>

<div class="section">
    <form method="get">
        <div class="field has-addons">
            <div class="control" style="width: 100%">
                <input class="input" type="text" placeholder="Search by Professor, Course, Email, or Description" name="searchBy">
            </div>
            <div class="control">
                <button class="button is-info">
                    Search
                </button>
            </div>
        </div>
    </form>

    <table class="table" style="width: 100%">
        <thead>
            <tr>
                <th>Course</th>
                <th>Professor</th>
                <th>Email</th>
                <th>Location</th>
                <th>Start Time</th>
                <th>End Time</th>
            </tr>
        </thead>

        {% for course in courses %}
        <tr>
            <td>{{ course['course'] }}</td>
            <td>{{ course['fname'] }} {{ course['lname'] }}</td>
            <td><a href="mailto:{{ course['email'] }}">{{ course['email'] }}</a></td>
            <td>{{ course['location'] }}</td>
            <td>
                <datetime>{{ course['startTime'] }} </datetime>
            </td>
            <td>
                <datetime>{{ course['endTime'] }} </datetime>
            </td>
        </tr>
        <tr>
            <td colspan="6" style="padding: 0px">
                <div class="popup">
                    <button class="button has-text-centered" aria-haspopup="true" aria-controls="dropdown-menu"
                        style="min-width: 100%;">
                        <span class="popup-text">Show More</span>
                        <span class="icon is-small">
                            <i class="popup-icon fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                    </button>
                    <div class="popup-menu">
                        <div class="card-content">
                            <div>
                                <strong>Job Description</strong>
                                <div style="white-space: pre-line;">
                                    {{ course['description'].decode() }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>

    <script>
        //DOMContentLoaded - it fires when initial HTML document has been completely loaded
        document.addEventListener('DOMContentLoaded', function () {
            // querySelector - it returns the element within the document that matches the specified selector
            var popup = document.querySelectorAll('.popup').forEach(item => {
                item.addEventListener('click', function (event) {

                    event.stopPropagation();

                    item.classList.toggle('is-showing');
                    buttonText = item.querySelector('.popup-text');
                    buttonIcon = item.querySelector('.popup-icon');

                    if (buttonText.textContent == 'Show Less') {
                        buttonText.textContent = 'Show More';
                        buttonIcon.className = "popup-icon fas fa-angle-down";
                    } else {
                        buttonText.textContent = 'Show Less';
                        buttonIcon.className = "popup-icon fas fa-angle-up";
                    }
                });
            });
        });        
    </script>
</div>
{% endblock %}